@media all and (max-width: 1000px) {
    .lesson {
        width: 100%;
        margin-bottom: 50px;
    }
    .sampul h1 {
        font-size: 32px;
    }
    .heading h2 {
        font-size: 20px;
    }
    article h2 {
        padding-left: 30px;
    }
    article {
        text-align: center;
        font-size: 20px;
    }
    article li {
        list-style-type: none;
    }
}

@media all and (max-width: 670px) {
    .lesson {
        width: 100%;
    }
    footer {
        text-align: center;
    }
    .btn {
        width: 100%;
    }
    .facebook {
        margin-bottom: 10px;
    }
    .sampul {
        text-align: left;
    }
    .header-right {
        display: none;
    }
    .sampul h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .sampul p {
        font-size: 14px;
        line-height: 20px;
    }
    article h2 {
        padding-left: 30px;
    }
    article {
        text-align: center;
        font-size: 20px;
    }
    article li {
        list-style-type: none;
    }
    aside {
        font-size: 18px;
    }
}